html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100vw;
}

.left-container, .right-container {
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* Optional: for better visibility */
}

.left-container {
    margin-left: -20px;
    flex: 1;
    padding-right: 40px;
    background-color: #f7f7f7; /* Optional: for better visibility */
    align-items: center; /* Align items to the right */
    text-align: right; /* Align text to the right */
}

.map-container {
    margin: 10px 10px;
    background-color: #3a2490; /* Optional: for better visibility */
    align-items: center; /* Align items to the right */
    text-align: right; /* Align text to the right */
}

.right-container {
    
    flex: 1;
    background-color: #f7f7f7; /* Optional: for better visibility */
}

.redstar, .greystar {
    height: 30px;
    width: 20px;
}

.redstar {
    color: #fe0143;
}

.greystar{
    color: #d1d1d1;
}

.completion-stars {
    display: flex;
    align-items: center;
}

.completion-stars i {
    margin-right: 5px; /* Optional: space between stars */
}

.completion-stars span {
    margin-top: 40px;
    margin-left: 10px; /* Optional: space between stars and percentage */
}

.titlesize{
    margin-top: 10px;
    font-size: 150%;
    font-weight: bolder;
}

.subtitlesize{
    margin-top: -5px;
    font-size: 150%;
}

.courseinfo {
    margin-top: 20px;
    text-align: left;
}

.textbox {
    padding: 25px 40px;
    background-color: #ffffff;
    height: 70%;
    width: 70%;
    border-radius: 15px;
}

.start-button {
    margin: 0 140px;
    padding: 10px 40px;
    font-size: 16px;
    background-color: #000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: center; /* Centers the button horizontally in the flex container */
    margin-bottom: 50px; /* Optional: Adds some space between the text and the button */
    margin-top: 15px;
}

.radio-icon {
    font-size: 7rem; /* Adjust the size as needed */
    color: #d1d1d1;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: -30px;
    margin-left: 70px;
}

.radio-icon2 {
    font-size: 7rem; /* Adjust the size as needed */
    color: #d1d1d1;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 5px;
    padding-left: 200px;
}

.radio-icon3 {
    font-size: 7rem; /* Adjust the size as needed */
    color: #d1d1d1;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 30px;
    padding-left: -400px;
}

.lockedIcon {
    position: relative;
}

.lockedIcon img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    padding-left: 200px;
}

.radio-icon3:hover,
.radio-icon2:hover,
.radio-icon:hover {
    color: #fe0143;
}

.radio-icon.active,
.radio-icon2.active,
.radio-icon3.active {
    color: #fe0143;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align contents to the right */
    justify-content: center;
    text-align: right; /* Align text to the right */
}

.details-container-l {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align contents to the right */
    justify-content: right;
    text-align: center; /* Align text to the right */
}
.stars-container {
    margin-bottom: -7px; /* Add some space between the stars and the titles */
    padding-left: 40%;
}

.leftcontainertext {
    font-size: 2ch;
    padding-left: 40%;
}

.stars-container-l{
    margin-bottom: -7px; /* Add some space between the stars and the titles */
    padding-right: 7%;
}

.leftcontainertext-l {
    font-size: 2ch;
    padding-right: -9%;
}

.progressbar-container {
    width: 100px; /* Set the width of the progress bar */
    height: 100px; /* Set the height of the progress bar */
    margin: 25px auto; /* Center align the progress bar */
    position: relative; /* Ensure the child elements are positioned relatively */
}

.course-item-1 {
    position: absolute;
    top: 50px;
    left: 350px;
}

.course-item-2 {
    position: absolute;
    top: 500px;
    left: 310px;
}

.course-item-3 {
    position: absolute;
    top: 210px;
    left: 450px;
}

.course-item-4 {
    position: absolute;
    top: 390px;
    left: 170px;
}

/* Add similar styles for other course IDs */
