html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100vw;
}

.left-container, .right-container {
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* Optional: for better visibility */
}

.left-container {
    margin-left: -20px;
    flex: 1;
    padding-right: 40px;
    background-color: #d1d1d1; /* Optional: for better visibility */
    align-items: center; /* Align items to the right */
    text-align: right; /* Align text to the right */
}

.right-container {
    
    flex: 1;
    background-color: #d1d1d1; /* Optional: for better visibility */
}

.redstar, .greystar {
    padding-top: 40px;
    height: 30px;
    width: 20px;
}

.redstar {
    color: #fe0143;
}

.greystar{
    color: #d1d1d1;
}

.completion-stars {
    display: flex;
    align-items: center;
}

.completion-stars i {
    margin-right: 5px; /* Optional: space between stars */
}

.completion-stars span {
    margin-top: 40px;
    margin-left: 10px; /* Optional: space between stars and percentage */
}

.titlesize{
    margin-top: 10px;
    font-size: 150%;
    font-weight: bolder;
}

.subtitlesize{
    margin-top: -5px;
    font-size: 150%;
}

.courseinfo {
    margin-top: 20px;
    text-align: left;
}
.textbox {
    padding: 25px 40px;
    background-color: #ffffff;
    height: 70%;
    width: 70%;
    border-radius: 15px;
}

.start-button {
    margin: 0 140px;
    padding: 10px 40px;
    font-size: 16px;
    background-color: #000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: center; /* Centers the button horizontally in the flex container */
    margin-bottom: 50px; /* Optional: Adds some space between the text and the button */
    margin-top: 15px;
}

.radio-icon {
    font-size: 7rem; /* Adjust the size as needed */
    color: grey;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: -300px;
    margin-left: 300px;
}

.radio-icon:hover {
    color: red;
}

.radio-icon.active {
    color: red;
}
