.product-carousel {
    position: relative;
    overflow: hidden;
    padding: 10px;
    padding-left: 0px;
}

.product-container {
    padding: 0 10px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.pre-btn,
.next-btn {
    border: none;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    z-index: 10; /* Ensure buttons are on top */
}

.next-btn {
    right: 0;
}

.next-btn p,
.pre-btn p {
    font-size: 50px;
    background-color: transparent; /* No background color */
    box-shadow: none; /* No box shadow */
    border-radius: 0; /* No border radius */
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}
