.mycard {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 310px;
    margin: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative; /* Ensure relative positioning */
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.completion {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.7rem;
    font-weight: bold;
}

.card-title, .card-subtitle {
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 40px;
}

.card-title {
    bottom: 50px;
    font-size: 1.2rem;
    font-weight: bold;
}

.card-subtitle {
    bottom: 30px;
    font-size: 0.9rem;
}

.icon-container {
    position: absolute;
    bottom: -10px; /* Adjust as needed */
    left: 45%;
    transform: translateX(-50%) scale(0.4);
    display: flex;
    gap: 10px; /* Space between the icons */
}

.icon-ps {
    width: 1px; /* Adjust size as needed */
    height: 1px; /* Adjust size as needed */
}
